EMAIL=some-fabulous-user@gmail.com
EMAIL_PASSWORD=sekrit-phrase
PHONE=5555555555
SP_URL=https://sp-oidc-sinatra.int.identitysandbox.gov
IDP_URL=https://idp.int.identitysandbox.gov

NR_TOTP_SIGN_IN_EMAIL='fabulouser-user@gmail.com'
NR_TOTP_SIGN_IN_PASSWORD=sekreter-phrase
NR_TOTP_SIGN_IN_TOTP_SECRET=1234567890

NR_SMS_SIGN_IN_EMAIL='fabulosest-user@gmail.com'
NR_SMS_SIGN_IN_PASSWORD=sekretest-phrase
NR_SMS_SIGN_IN_TWILIO_PHONE=1234567890

TWILIO_SID=twilio-secret-id
TWILIO_TOKEN=twilio-secret-token
